extends partial/layout

block site_title
    !=  "归档 · " + config.title

block description
    - var desc = '归档页面 - ' + config.title;
    meta(name="description", content=desc)

block content
    .autopagerize_page_element: .content
      .archive.animated.fadeInDown
        ul.list-with-title
          include mixins
          +postList()
