extends partial/layout

block site_title
    != "分类 · " + config.title

block description
    - var desc = "分类 · " + config.title;
    meta(name="description", content=desc)

block content
  .autopagerize_page_element: .content
    .archive.animated.fadeInDown
      ul.list-with-title
        .listing-title= __("Categories")
        include mixins
        +categoryList()
        .listing-title= __("Tags")
        include mixins
        +tagList()